
#Created by Constraints Editor (xc6slx45-fgg484-3) - 2012/03/12
NET "PIPELINE_CLOCK" TNM_NET = PIPELINE_CLOCK;
TIMESPEC TS_PIPELINE_CLOCK = PERIOD "PIPELINE_CLOCK" 10 ns HIGH 50%;
NET "PIXEL_CLOCK" TNM_NET = PIXEL_CLOCK;
TIMESPEC TS_PIXEL_CLOCK = PERIOD "PIXEL_CLOCK" 40 ns HIGH 50%;
#pin2ucf - Wed Mar 28 09:30:04 2012
#The following constraints were newly added
NET "LINE_VALID_OUT" LOC = AA21;
NET "RESET" LOC = AB21;
NET "DATA_OUT<0>" LOC = AB20;
NET "DATA_OUT<1>" LOC = AA20;
NET "DATA_OUT<2>" LOC = T17;
NET "DATA_OUT<3>" LOC = Y19;
NET "PIXEL_CLOCK" LOC = J4;
NET "DATA_OUT<4>" LOC = AB19;
NET "DATA_OUT<5>" LOC = W18;
NET "DATA_OUT<6>" LOC = Y18;
NET "DATA_OUT<7>" LOC = T16;
NET "RIGHT<0>" LOC = T15;
NET "LEFT<0>" LOC = W17;
NET "RIGHT<1>" LOC = U17;
NET "LEFT<1>" LOC = U14;
NET "RIGHT<2>" LOC = U16;
NET "LEFT<2>" LOC = U13;
NET "RIGHT<3>" LOC = V19;
NET "LEFT<3>" LOC = U15;
NET "RIGHT<4>" LOC = V18;
NET "LEFT<4>" LOC = V15;
NET "RIGHT<5>" LOC = R16;
NET "LEFT<5>" LOC = AA18;
NET "RIGHT<6>" LOC = R15;
NET "LEFT<6>" LOC = AB18;
NET "RIGHT<7>" LOC = V17;
NET "LEFT<7>" LOC = AB14;
NET "FRAME_VALID_OUT" LOC = AA22;
NET "PIPELINE_CLOCK" LOC = L4;
NET "LINE_VALID_IN" LOC = Y21;
NET "FRAME_VALID_IN" LOC = T18;
